{% extends 'layout.html'%}

{% block content %}

{% for data in dataI %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1 style="align-items: center; display: flex; height: 50px; width: 50px; justify-content: center;">{{ data }}</h1>
    </div>
    
</body>
</html>


{% endfor %}

{% endblock %} 